@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  min-height: 100vh; 
  margin-bottom: 100px;
  background-image: url("mesh-background-portfolio-lglines.jpg");
}

#grid1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 20px;
}

#grid1 h1 {
  margin: 0;
}

#grid2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

#grid2 button {
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: background-color 0.3s;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

#grid2 button:hover {
  background-color: #333;
}

#grid2 button:active {
  background-color: #666;
}

#grid3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  flex-direction: column;
}

#grid3 h2,
#grid3 h3 {
  color: black; 
}

#grid3 p {
  font-size: 1.2em;
}

#grid3 ul {
  list-style-type: none;
  padding: 0;
}

#grid3 li {
  margin-bottom: 10px;
}


#grid5 {
  display: flex;
  justify-content: center;
}

#icons img {
  margin: 0 10px;
  height: 30px;
}
#grid2 button {
  margin-left: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  transition: background-color 0.3s, transform 0.3s ease-in-out;
}

#grid2 button:hover {
  background-color: #333;
  transform: scale(1.1);
}

#grid2 button:active {
  background-color: #666;
}
