body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto; 
    min-height: 100vh; 
    margin-bottom: 100px;
    background-image:  url("mesh-background-portfolio-lglines.jpg");
}

#grid1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
}

#grid1 h1 {
    margin: 0;
}

#grid2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#grid2 button {
    margin-left: 10px; 
    background-color: #000; 
    color: #fff;
    border: none;
    border-radius: 5px; 
    padding: 8px 15px;
    transition: background-color 0.3s; 

    
}

#grid2 button:hover {
    background-color: #333;
}

#grid2 button:active {
    background-color: #666;
}

#grid3 {
    display: flex;
    justify-content: flex-start;
    padding-top: 200px;
    padding-left: 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about1st {
    text-align: left;
}

#about1st p {
    margin: 0;
    font-size: 2em; 
}

#grid4 {
    display: flex;
    justify-content: flex-end;
    margin-right: 250px;
    margin-top: -400px;
}

#profile {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
}

#grid5 {
    display: flex;
    justify-content: center;
    margin-right: 970px;
}

#grid6 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#grid6 button {
    margin-left: 10px; 
    background-color: #3498db; 
    color: #fff; 
    border: none;
    border-radius: 5px; 
    padding: 8px 15px;
    transition: background-color 0.3s; 
}

#grid6 button:hover {
    background-color: #2074a0;
}

#grid6 button:active {
    background-color: #105e80; 
}

#icons {
    text-align: center;
}

#download button {
    padding: 10px;
}

#download a {
    text-decoration: none;
    color: inherit;
}

#buttons {
    margin-left: 10px;
    margin-right: 10px;
}

#about1st #me {
    color: #000000;
}

#about1st #mee {
    color: #003399; 
}